
p{
    margin: 0;
}

.text-center{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    .Error_Text{
        color: white;
    }

    .boton{
        border: 2px solid rgba(247, 243, 7, 0.438);
        background-color: rgba(247, 243, 7, 0.438)  ;
        padding: 0 20px;
        margin-top: 80px;
        border-radius: 10px;
        .link{
            text-decoration: none;
            
            p{
                color: white;
                font-size: 18px;
                text-transform: uppercase;
            }

        }
        &:hover{
            background-color: rgba(189, 186, 33, 0.925);
          }
    }

}