.grafica{
    background-color: rgba(255,255,255, .8);
    height: 500px;
    border-radius: 10px;
    padding: 20px 10px 50px 10px;
    text-align: center;
    width: 95%;
    margin: 0 auto;
    max-width: 1800px;

    .resultados{
        display: flex;
        justify-content: space-around;

        .contenido-resultados{
            font-size: 16px;
            text-transform: uppercase;
            p{
                font-weight: bold;
                color: rgb(6, 97, 21);
                span{
                    font-size: 20px;
                    color: rgba(0, 7, 66, 0.815);
                }
            }
        }
    }

}



